* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin trans(){
  transition: all 0.5s ease-in-out;
}

//Color definition
$main-color: #202020;
$secondary-color: #b37436;
$logo-color: #f3962c;
$tertiary-color: #fffefd;
$bg-color: #fff7f0; 


//Navbard styling
.navbar {
  padding: 0.5em;
  font-size: 1.3em;
  background: rgba(255, 247, 240, 0.9) !important; 
  height: 70px;
}

.fa-compact-disc {
  color: $logo-color;
  // filter: drop-shadow(1px 2px 4px black);
}

.navbar .navbar-brand {
  color: black;
  font-weight: bolder;
  font-size: 1.5em;
  margin: auto 0px auto 10%;
}
.navbar-brand:hover {
  color: $main-color !important;
}

.navbar-nav {
  margin-right: 10%;
}

.navbar-nav li {
  margin: auto 10px auto 10px;
}

.link, .logoutBtn, .LoginDummy {
  padding: 10px;
  color: $main-color !important;
  border-radius: 5px;
}
.link:hover, .logoutBtn:hover, .LoginDummy:hover {
  cursor:pointer;
  @include trans();
  color: $main-color !important;
  background-color: $secondary-color ;
}

.navbar-nav li:nth-child(5) a, .LoginDummy {
  border: 1px solid $secondary-color;
  margin-left: 60px;
  background-color: $bg-color ;
  color:$secondary-color !important;
}
.navbar-nav li:nth-child(5) a:hover {
  border: 1px solid $secondary-color;
  color: $main-color !important;
  background-color: $secondary-color ;
}
.navbar-nav li:nth-child(6) a, .logoutBtn {
  // margin-right: 10px;
  border: 1px solid $secondary-color;
  background-color: $bg-color ;
  color:$secondary-color !important;
}
.navbar-nav li:nth-child(6) a:hover, .logoutBtn:hover {
  border: 1px solid $secondary-color;
  background-color: $secondary-color;
  color: $main-color !important;
}

.btn {
  padding: 6px;
  display: inline-block;
}

// Cart styling

#cart-button {
  border: none;
  padding: 15px 15px 15px 15px;
  background-color: transparent;
  color: $secondary-color;
}

.cart-dropdown {
  // margin-right: 250px;
  position: relative;
  display: inline-block;
}

.cart-content {
  display: none;
  position: absolute;
  border-radius: 3px;
  top: 57px;
  right: -200%;
  background-color: $tertiary-color;
  min-width: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
  z-index: 1;
}

.cart-content li {
  color: black;
  border-bottom: 1px solid #ddd;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.cart-content li span {
  display: inline-block;
}

.days-tag{
  text-align: right;
}
.days-tag span{
  margin-right: 30px;
}

.cart-image {
  width: 50px; 
  border-radius: 5px;
  height: auto;
  margin-right: 10px;
}

.cart-dropdown:hover .cart-content {display: block}

.cart-content li:hover {background-color: #ddd}

.fa-trash-alt {
  color: $secondary-color;
}

.remove-btn  {
  float: right;
  cursor: pointer;
}

.cart-header {
  display: block;
  margin: 10px auto 10px auto;
  text-align: center;
}

.btn-to-buy {
  font-size: 1.1em;
  border: 1px solid $secondary-color;
  color: $secondary-color;
  display: block;
  margin: 10px auto 10px auto;
  text-align: center;
}

.btn-to-buy:hover {
  color: $main-color;
  background-color:$secondary-color;
}

.btn-to-buy:disabled {
  color: #999999;
  background-color:#cccccc;
  border: 1px solid #cccccc;
}


// Image preview styling

.img-prev{
  max-width:1100px;
  margin: auto;
  margin-top: 30px;
  overflow: hidden;
  filter: drop-shadow(1px 4px 4px black);
}

.info-section img{
  filter: drop-shadow(3px 3px 4px black);
}

.img-prev-slider {
  display: flex;
  width: auto;
  height: 500px;

}
.img-prev-slider img {
  width: 1100px; 
  border-radius: 5px;
  height: auto;
}


.slider-buttons {
  text-align: center;
  margin-top:5px;
}

#reserve{
  font-size: 2em;
  margin-top: 30px;
  border: 1px solid $secondary-color;
  color:$secondary-color !important;
}

#reserve:hover {
  cursor:pointer;
  @include trans();
  color: $main-color !important;
  background-color: $secondary-color ;
}

// Home information styling

.info-main {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 40px;
}

.info-section {
  max-width:1000px;
  margin: auto;
  display: flex;
  align-items: center;
  margin-top: 45px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.info-section-top-left{
  margin-left: 65px;
}
.info-section-top-right img {
  width: 450px; 
  border-radius: 5px;
  height: auto;
}

.info-section-mid-left img{
  width: 450px; 
  border-radius: 5px;
  height: auto;
}
.info-section-mid-right {
  margin-right: 65px;
}

.info-section-bot-left {
  margin-left: 65px;
}
.info-section-bot-right img {
  width: 450px; 
  border-radius: 5px;
  height: auto;
}

#check-us {
  font-size: 1em;
  border: 1px solid $secondary-color;
  color: $secondary-color;
  margin-left: 10px;
  color:$secondary-color !important;
}

#check-us:hover {
  cursor:pointer;
  @include trans();
  color: $main-color !important;
  background-color: $secondary-color ;
}

.offer {
  color: $main-color;
  font-size: 2em;
}

#offer-btn {
  display: inline-block;
  position: relative;
  top: 3px;
}


// Footer styling
// .footer {
//   position: absolute;
//   bottom: 0px;
//   width: 100%;
//   height: 60px;
//   line-height: 60px;
//   background-color: #f5f5f5;

// }
.text-muted {
  text-align: center;
}

// Room/treatment component styling
.card {
  box-shadow: 1px 2px 6px 0px rgba(0,0,0,0.3);
}

.pick-rt  {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.rt-image {
  width: 450px; 
  border-radius: 5px;
  height: auto;
}

.rt-info ul {
  list-style-type: none;
  margin: 0px 150px 0 150px;
  font-size: 1.3rem;
}

.list-group-items {
  margin-top: 10px;
}

.rt-name {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
}

.btn-to-cart {
  display: block;
  font-size: 1.3em;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid $secondary-color;
  color: $secondary-color;
  color:$secondary-color !important;
}

.btn-to-cart:hover {
  cursor:pointer;
  @include trans();
  color: $main-color !important;
  background-color: $secondary-color ;
}

//Booking styling

.container-booking {
  text-align: center;
  margin-top: 40px;
}

#calendar-image {
  width: 500px; 
  border-radius: 5px;
  height: auto;
  margin: 40px 0px 40px 0px;
  border-radius: 5px;
  box-shadow: 1px 2px 6px 0px rgba(0,0,0,0.3);
}

#pickDate {
  margin-top: 30px;
}

.inputDate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  line-height: 26px;
  margin: 30px 70px 30px 70px;
  }

#days-to-cart {
  margin-top: 15px;
}


// Register styling

.container-register, .container-login {
  width: 20%;
  border: 1px solid $secondary-color;
  border-radius: 5px;
  margin-top:40px;
  margin-left:auto;
  margin-right:auto;
}

.form-register, .form-login {
  margin: 30px 30px 30px 30px;
}

.form-register h1, .form-login h1{
  text-align: center;
  margin: 5px;
  padding: 1px;
  font-size: 22px;
}
.form-register p, .form-login p{
  text-align: center;
  font-size: 15px;
}

.form-wrap p a{
  color:rgb(59, 7, 59);
  text-decoration: none;
}
.form-group {
  color: rgb(66, 66, 66);
  margin:7px 2px;
  font-size: 11px;
}
.form-group label{
  display: block;
  margin: auto;
  padding-bottom: 2px;
}
.form-group input{
  border: 1px solid #e0dddd;
  display: block;
  margin: auto;
  padding: 2px 1px;
  width: 100%;
  border-radius: 3px;
} 
.btn-register{
  display: block;
  margin: 1em 0px 0px 0px;
  background: $secondary-color;
  border-radius: 5px;
  font-size: 10px;
  padding: 5px;
  color: #f4f4f4;
  margin-bottom: 10px;
  border: 1px solid #f3f3f3;
  width: 100%;
}

span.weak {
  display: inline-block; /* the default for span */
  width: 32%;
  padding: 5px;
  background-color: #f1caa2 ; 
}
span.medium {
  display: inline-block; /* the default for span */
  width: 32%;
  padding: 5px;
  background-color: #cf9d6a; 
}
span.strong {
  display: inline-block; /* the default for span */
  width: 32%;
  padding: 5px;
  background-color: #b37436; 
}


